body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
}
p,
h1 {
  position: absolute;
}
/* main */
.main__img {
  max-height: 1155px;
}
.main__titel,
.main__open {
  left: 50%;
  transform: translateX(-50%);
}
.main__titel {
  top: 38px;
  font-weight: 800;
  font-size: 112px;
  text-align: center;
}
.main__open {
  top: 557px;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}
.main__text {
  font-weight: 800;
  font-size: 40px;
  bottom: 72px;
  left: 176px;
  max-width: 960px;
}
/* blond */
.blond {
  margin-top: 27px;
}
.blond__img {
  max-height: 641px;
}
.blond__one {
  top: 142.48px;
  left: 47.88px;
  transform: rotate(-15deg);
  font-weight: 800;
  font-size: 25px;
}
.blond__two {
  font-style: italic;
  font-weight: 900;
  font-size: 25px;
  top: 98px;
  right: 325px;
}
.blond__three {
  font-weight: 400;
  font-size: 24px;
  transform: rotate(4deg);
  right: 274px;
  top: 287px;
}
.blond__four {
  font-style: italic;
  font-weight: 200;
  font-size: 25px;
  right: 230px;
  top: 447px;
}
.blond__five {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  bottom: 103px;
  left: 420px;
  max-width: 182px;
}
.blond__six {
  left: 459px;
  bottom: 34px;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
/* supports */
.supports {
  padding-top: 25px;
}
.supports_titel {
  font-size: 100px;
  font-weight: 800;
  color: #000;
  margin-left: 38px;
}
/* beauty */
.beauty {
  margin-top: 16px;
  overflow: hidden;
}
.beauty__img {
  position: absolute;
  z-index: 10;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 665px;
  max-height: 531px;
}
.beauty__line {
  background-color: #f67eea;
  height: 66px;
  margin-bottom: 50px;
  position: relative;
  z-index: -1;
}
.beauty p {
  position: absolute;
  top: -22px;
  font-size: 90px;
  opacity: 0.43;
  font-weight: 800;
  z-index: 100;
  width: 1748px;
}

/* fonts */
.fonts {
  width: 100%;
  height: 948px;
}
.fonts__come {
  position: absolute;
  left: 0;
  top: 31px;
  max-width: 517px;
}
.fonts__one {
  font-weight: 600;
  font-size: 60px;
  transform: rotate(54deg);
  top: 313px;
  left: -6px;
}
.fonts__two {
  font-weight: 500;
  font-size: 50px;
  transform: rotate(54deg);
  top: 296px;
  left: -55px;
}
.fonts__three {
  font-weight: 600;
  font-size: 35px;
  transform: rotate(54deg);
  top: 542px;
  left: 152px;
}
.fonts__features {
  max-width: 820px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 31px;
  z-index: 1;
}
.fonts__four {
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  transform: rotate(7deg);
  left: 526px;
  top: 152px;
  z-index: 2;
}
.fonts__group {
  position: absolute;
  max-width: 525px;
  height: 477px;
  left: 432px;
  top: 289px;
  z-index: 2;
}
.fonts__waiting {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 552px;
}
.fonts__five {
  right: 40px;
  top: 271px;
  font-weight: 600;
  font-size: 60px;
  transform: rotate(-55deg);
  text-align: center;
}
.fonts__six {
  font-weight: 500;
  font-size: 50px;
  top: 507px;
  transform: rotate(-55deg);
  right: 45px;
}
.fonts__seven {
  font-weight: 800;
  font-size: 35px;
  transform: rotate(-55deg);
  top: 270px;
  right: -88px;
}
/* contains */
.contains {
  height: 956px;
  background-color: #fff;
  overflow: hidden;
}
.contains__titel {
  text-align: center;
  font-weight: 800;
  font-size: 70px;
  color: #000;
  padding-top: 49px;
}
.contains__img {
  position: absolute;
  top: 58px;
}
.contains p {
  color: #000;
}
.contains_1 {
  top: 132px;
  left: 0;
  font-weight: 500;
  font-size: 64px;
  text-transform: uppercase;
  transform: rotate(16deg);
}
.contains_2 {
  font-weight: 100;
  font-size: 107px;
  transform: rotate(-14deg);
  top: 147px;
  left: 360px;
}
.contains_3 {
  font-weight: 700;
  font-size: 64px;
  transform: rotate(-36deg);
  top: 213px;
  left: 609px;
}
.contains_4 {
  font-weight: 200;
  font-size: 64px;
  transform: rotate(-27deg);
  top: 165px;
  right: 302px;
}
.contains_5 {
  font-weight: 300;
  font-size: 108px;
  text-transform: uppercase;
  transform: rotate(-13deg);
  top: 121px;
  right: -8px;
}
.contains_6 {
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  color: #1f0101;
  transform: rotate(14deg);
  left: -31px;
  top: 265px;
}
.contains_7 {
  font-weight: 700;
  font-size: 64px;
  transform: rotate(15deg);
  top: 458px;
  left: 492px;
}
.contains_8 {
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  text-align: center;
  color: #1f0101;
  transform: rotate(-7deg);
  right: 0;
  top: 280px;
}
.contains_9 {
  font-style: italic;
  font-weight: 500;
  font-size: 64px;
  text-transform: uppercase;
  transform: rotate(-6deg);
  top: 417px;
  right: 170px;
}
.contains_10 {
  font-style: italic;
  font-weight: 600;
  font-size: 81px;
  text-align: center;
  transform: rotate(13deg);
  left: 69px;
  top: 497px;
}
.contains_11 {
  font-style: italic;
  font-weight: 100;
  font-size: 152px;
  text-transform: uppercase;
  transform: rotate(14deg);
  left: -58px;
  bottom: 193px;
}
.contains_12 {
  font-style: italic;
  font-weight: 200;
  font-size: 96px;
  text-align: center;
  transform: rotate(-13deg);
  right: -36px;
  bottom: 331px;
}
.contains_13 {
  left: -19px;
  bottom: 138px;
  font-weight: 500;
  font-size: 50px;
  transform: rotate(-15deg);
}
.contains_14 {
  font-weight: 600;
  font-size: 64px;
  color: #1f0101;
  transform: rotate(14deg);
  left: 288px;
  bottom: 64px;
}
.contains_15 {
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #1f0101;
  transform: rotate(-18deg);
  bottom: 252px;
  right: 22px;
}
.contains_16 {
  font-style: italic;
  font-weight: 300;
  font-size: 41px;
  text-align: center;
  transform: rotate(-1deg);
  bottom: 83px;
  right: 382px;
}
.contains_17 {
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  transform: rotate(-18deg);
  bottom: 125px;
  right: 60px;
}
.contains_icon {
  position: absolute;
  left: -20px;
  top: 302px;
  width: 300px;
  height: 184px;
  object-fit: cover;
}
.contains_18 {
  font-style: italic;
  font-weight: 700;
  font-size: 41px;
  color: #1f0101;
  transform: rotate(-21deg);
  top: 373px;
  left: -10px;
}
/* design */
.design {
  height: 691px;
}
.design__component-1,
.design__component-2 {
  position: absolute;
  width: 121px;
  height: 103px;
  object-fit: cover;
}
.design__component-1 {
  top: 20px;
  left: 153px;
}
.design__component-2 {
  right: 74px;
  top: 43px;
}
.design_simple {
  position: absolute;
  right: 0;
  top: 0;
  width: 759px;
  height: 706px;
}
.design_flexible {
  position: absolute;
  top: 81px;
  left: 0;
  width: 715px;
  height: 607px;
  object-fit: cover;
}
.design_flexible-text-1 {
  top: 245px;
  left: 102px;
  font-weight: 800;
  font-size: 50px;
  transform: rotate(-16deg);
  max-width: 430px;
  color: #000;
}
.design_flexible-text-1 span {
  color: #b63565;
}
.design_flexible-line {
  position: absolute;
  border: 4px solid #000;
  width: 507px;
  transform: rotate(-17deg);
  top: 496px;
  left: 150px;
}
.design_flexible-text-2 {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  transform: rotate(-16deg);
  max-width: 515px;
  top: 512px;
  left: 164px;
}
.design_simple-text-1 {
  font-weight: 700;
  font-size: 70px;
  transform: rotate(26deg);
  right: 115px;
  top: 234px;
  max-width: 405px;
}
.design_simple-text-2 {
  font-weight: 500;
  font-size: 25px;
  transform: rotate(26deg);
  right: 189px;
  top: 443px;
}

/* readability */
.readability {
  height: 940px;
}
.readability__component-3,
.readability__component-4,
.readability__component-5,
.readability__component-6,
.readability__component-7,
.readability__component-8 {
  width: 108px;
  height: 78px;
  position: absolute;
}
.readability__component-3 {
  transform: rotate(-67deg);
  top: 29px;
  left: 57px;
}
.readability__component-4 {
  transform: rotate(-15deg);
  right: 471px;
  top: -20px;
}
.readability__component-5 {
  right: 48px;
  top: 45px;
  transform: rotate(21deg);
}
.readability__component-6 {
  transform: rotate(-15deg);
  left: 642px;
  top: 320px;
}
.readability__component-7 {
  transform: rotate(5deg);
  left: 69px;
  bottom: 0;
}
.readability__component-8 {
  transform: rotate(38deg);
  right: 66px;
  bottom: -20px;
}
.readability__total {
  position: absolute;
  left: 0;
  top: -100px;
  max-width: 720px;
  height: 833px;
}
.readability__total-titel {
  font-weight: 900;
  font-size: 25px;
  color: #000;
  transform: rotate(35deg);
  left: 187px;
  top: 222px;
}
.readability__total-text-1 {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  transform: rotate(35deg);
  max-width: 235px;
  left: 160px;
  top: 241px;
}
.readability__total-text-2 {
  font-weight: 700;
  font-size: 28px;
  color: #000;
  transform: rotate(35deg);
  left: 35px;
  top: 392px;
  max-width: 378px;
}

.readability__provides {
  position: absolute;
  max-width: 600px;
  height: 806px;
  object-fit: cover;
  top: 102px;
  right: 23px;
}
.readability__provides-titel {
  font-style: italic;
  font-weight: 900;
  font-size: 31px;
  color: #0e3b13;
  transform: rotate(-12deg);
  right: 299px;
  top: 352px;
}
.readability__provides-text-1 {
  font-style: italic;
  font-weight: 700;
  font-size: 23px;
  color: #0e3b13;
  transform: rotate(-12deg);
  right: 194px;
  top: 466px;
}
.readability__provides-text-2 {
  font-style: italic;
  font-weight: 500;
  font-size: 26px;
  transform: rotate(-12deg);
  right: 138px;
  top: 800px;
}
.readability__packaging {
  width: 545px;
  height: 537px;
  position: absolute;
  bottom: -188px;
  left: 340px;
}
.footer {
  height: 1336px;
  overflow: hidden;
}
.footer-text-1 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  transform: rotate(-23deg);
  bottom: 563px;
  left: 91px;
}
.footer-text-2 {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  transform: rotate(-48deg);
  bottom: 509px;
  left: 389px;
}
.footer-text-3 {
  font-weight: 700;
  font-size: 12px;
  bottom: 653px;
  left: 677px;
  transform: rotate(-32deg);
}
.footer-text-4 {
  font-weight: 900;
  font-size: 23px;
  text-align: center;
  transform: rotate(-32deg);
  bottom: 549px;
  left: 699px;
  color: #000;
}
.footer-text-4 span {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  display: block;
}
.footer-text-5 {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #000;
  bottom: 503px;
  left: 726px;
  transform: rotate(-32deg);
}
.footer-text-5 span {
  font-weight: 500;
  font-size: 9px;
  text-align: center;
  color: #fff;
  display: block;
}
.footer-text-6 {
  font-weight: 400;
  font-size: 20px;
  transform: rotate(56deg);
  bottom: 606px;
  right: 373px;
}
.footer-text-7 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  transform: rotate(35deg);
  right: 345px;
  top: 332px;
}
.footer-text-8 {
  transform: rotate(-138deg);
  font-weight: 700;
  font-size: 12px;
  color: #000;
  right: 48px;
  top: 436px;
}
.footer-text-9 {
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: #000;
  transform: rotate(-138deg);
  right: -33px;
  top: 337px;
}
.footer-text-9 span {
  font-size: 14px;
  text-align: center;
  display: block;
}
.footer-text-10 {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #000;
  transform: rotate(-138deg);
  right: -92px;
  top: 305px;
}
.footer-text-10 span {
  font-weight: 500;
  font-size: 9px;
  text-align: center;
  display: block;
}
.footer-name {
  font-size: 50px;
  font-weight: 500;
  line-height: 60.95px;
  color: white;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.footer-group {
  font-size: 50px;
  font-weight: 500;
  color: white;
  line-height: 60.95px;
  position: absolute;
  left: 402px;
  bottom: 25px;
}
.footer-logo {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 300px;
  height: 128px;
}
